body{
    margin: 20px;
    background-color: darkgray;
    color:dodgerblue
}
.name{
    margin: 20px;
    background-color: darkgray;
    color:dodgerblue
}
.submit{
    color: rgb(8, 0, 0);
    background-color: rgb(240, 240, 34);
    padding: 15px;
    margin: 20px;
    border: 2px;
    border-radius: 10px;
}
.submit:hover{
    color:white;
    background-color: blue;

}


